[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
# https://stackoverflow.com/a/39207275

[MESSAGES CONTROL]
disable=C,R,W

[REPORTS]
score=no
